/*  Base  */
body {
	margin: 0;
	height: 100%;
	vertical-align: top;
	text-align: center;
	background-color: #fff;
}

p {
	font-family: Georgia, Times, serif;
	font-size: 16px;
	color: #333;
	text-align: left;

}

a {
	font-family: Verdana, Tahoma, sans-serif;
	color: #f30;
	text-decoration: none;
}

/*  Header  */
header {
	margin: 2em auto;
	max-width: 640px;
}

.logo {
	max-width: 100px;
	max-height: 100px;
}

header ul {
	font-size: 18px;
	padding: 0; 	
}	

header li {
	display: inline-block;
	width: 78px;
	padding: .5em;
}
/*  Main  */
main {
	margin: 2em auto;
	max-width: 480px;
	font-size: 0;
}

h1 {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 24px;
	font-weight: bold;	
	text-align: left;
}

/* Footer  */

footer {
	margin: 2em auto;
	min-height: 2em;
}

footer p {
	text-align: center;
}
