/*  Base  */
body {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	height: 100%;
	background-color: #fff;
}

main {
	font-size: 0;
	height: 100%;													
}

p {
	font: Georgia, Times, serif;
	font-size: 16px;
	color: #333;
}

a {
	font: Verdana, Tahoma, sans-serif;
	color: #f30;
	text-decoration: none;
}

/*  Header  */
header {
	font-size: 16px;
	width: 100%;
	text-align: center;
}

.logo {
	width: 100px;
	height: 100px;
	fill: #333;
}

header ul {
	font-size: 1.25em;
}

header li {
	display: inline-block;
}

/*  Main  */
h1 {
	font: Verdana, Tahoma, sans-serif;
	font-size: 18 px;
	font-weight: bold;
	text-align: center;	
}

/* Footer  */

footer {
	width: 100%;
	min-height: 2em;
}