<!DOCTYPE html>

<html lang="en">

    {% include head.html %}

<body>
<!-- header -->	
	<header>
        <object type="image/svg+xml" data="{{ site.baseurl }}/assets/badge.svg" class= "logo" alt="Adam PS logo">
            <img src="{{ site.baseurl }}/assets/badge.png">
        </object>
    	<ul>
            <li><a href="https://twitter.com/phillipssilver">Twitter</a></li>
            <li><a href="https://github.com/Adam-PS">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/adamphillipssilver/">LinkedIn</a></li>
	    </ul>
	</header>
<!-- main content -->
    <Main>
    {{ content }}
    </Main>
<!-- Footer -->
    {% include footer.html %}
</body>
  
</html>
